.wrapperhistory{
    background-color: #eb97eb;
    padding: 12px 23px;
    width: 95%;
    border-radius: 22px;
    margin: 10px 0px;
}

.userres{

    display: flex;
    justify-content: start;
   
}
.userinfo{
    width: 80%;
    padding-left: 15px;
}